body{
    font-family: 'Lucida Sans Unicode';
    color: rgb(8, 21, 133);  
    background-color: rgb(193, 199, 250);
}
.preheader{
    background-color:  rgb(22, 3, 110) ;
    width: 0 auto;
    font-size: small;
    text-align: center;
    color:rgb(254, 243, 226);
}
.navBar{
    display: flex;
    align-items: center;
    padding: 0 auto ;
  
}
a:hover{
    color:rgba(27, 214, 158, 0.952);
}
.logo{
    height: 3rem;
    width: 3rem;
    padding:0.4rem;
}
ul{
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
    margin: 0;
    }
li{
    display:flex;
    justify-items: flex-end;
    padding: 0.3rem; 
}
.btnCar{
    height: fit-content;
    width: fit-content;  
    margin-left: auto;
    background-color:  rgb(250, 210, 99);
    border-radius: 5rem;
    padding:0.3rem;
    padding: 0.5rem;
    border-color:rgb(235, 168, 129);
    cursor:pointer;
 }

.btnCar:hover{
    background-color: rgb(255, 167, 67);    
}
.promotion{
    display: flex;
    flex-wrap:wrap;
    align-items: baseline;
    justify-content:space-between;
    padding: 0.5rem;   
}
.cards{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(250px ,1fr));
    gap:50px;
    text-align: center;
    padding: 1rem;
}
.cardProduct{
    background-color: rgb(253, 253, 253);
    align-items: center;   
    color: rgb(8, 21, 133);;
    border-radius: 1rem;
    padding: 0.9rem;
    box-shadow: 0 4px 8px rgba(12, 6, 70, 0.1);
    transition: 0.3s;
}
.cardProduct:hover{
    transform: translateY(-8px);/*levanta las card*/
    box-shadow: 0 12px 25px rgba(145, 126, 250, 0.808);
}
.imgProduct{
    align-self: center;
    height: 10rem;
    width:10rem;
}
.price{
    font-weight: bolder;
}
.btnBuy{
    border-radius: 0.5rem;
    border-color:rgb(83, 67, 224);
    background-color: rgb(42, 17, 187);
    color:rgb(250, 250, 250);
    width: 5rem;
} 
/*---- reseñas ----*/
#feedBack {
    padding: 2rem;
}
#comentDiv {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}
#comentDiv article {
    background-color:/*rgb(220, 229, 250)*/ rgba(232, 231, 255, 0.945);
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    font-style: italic;
    max-width: 20rem;
    box-shadow: 0 5px 8px rgba(12, 6, 70, 0.1);
    transition: 0.3s;
}
#comentDiv article:hover{
    transform: translateY(-8px);
    box-shadow:  0 12px 25px rgba(130, 109, 245, 0.808);
}
.autor{
    font-weight: bold;
}

/* En móvil: pasan a columna */
@media (max-width: 700px) {
    #comentDiv {
        flex-direction: column;
        align-items: center;
    }

   #comentDiv article {
        width: 100%;
        max-width: 20rem; 
    }
}
/*------footer----------*/
#foo {
    display: flex;
    flex-direction: column;   
    align-items: center;  
    font-style: italic;   
    text-align: center;   
    padding: 1rem;
    gap: 0.5rem;     
}
.social-icon {
    display: flex;
    justify-content: center;  
    gap: 1rem;                
}
.iconSo {
    height: 2rem;           
    width: auto;
}
.filter{
    display:grid;
    font-weight: medium;
    grid-template-rows: repeat(auto-fill, minmax(15px, 1fr));
    padding: 1rem;
}
#price, #order{
 border-radius: 0.5rem;
 color: rgb(25, 23, 156);
}
/*----vista de producto en detalle----*/
.detailProduct{ 
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-content: center;
    align-items: center;
    gap:1rem;
    padding: 2rem;   
}
.cardDetail, .detail{
    background-color: rgb(255, 255, 255);
    border-color: rgb(65, 42, 165);
    border-radius: 0.5rem;
    padding: 1rem;
}
.detail img{
    width: auto;
    height: fit-content;
    max-width: 100%;
    max-height: 100%;
    border-radius: 1rem;
}
.btnBack {
    width: 5rem;
    background-color: rgb(101, 102, 179);
    color: rgb(238, 235, 255);
    border-radius: 0.5rem;
    border-color: rgb(11, 24, 141);
}
.btnBack:hover{
    background-color:rgba(121, 169, 241, 0.952);
} 
.btnBuy:hover{
    background-color: rgb(104, 212, 180);
}
.cardDetail > .price{
    font-size:xx-large
}
#stock{
    font-size: small;
}
/*---- css de contacto ----*/
.contact {
    max-width: 500px;     
    margin: 2rem auto;     
    padding: 1.5rem;
    background-color: rgb(220, 229, 250);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem; /* espacio entre campos */
}

.contact p {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.formc {
    font-weight:large;
    font-style: italic;
}

#txtEmail, #txtName, #txtLast,#txtPhone, #mensaje, #txtMessage, #back2{
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid rgb(43, 66, 199);
    font-size: 1rem;
    color: rgb(43, 66, 199);
    width: 100%;                
    box-sizing: border-box;
}

#txtMessage::placeholder {
    height: 100px;
    resize: vertical; /*ajusta tamaño*/ 
    color: rgb(168, 167, 167);
    font-style: italic;   
}

#txtEmail::placeholder,
#txtName::placeholder,
#txtLast::placeholder,
#txtPhone::placeholder{
    color: rgb(168, 167, 167);
    font-style: italic;
}
#txtMessage{
    height: 150px;
}
.btnSend {
    padding: 0.7rem;
    background-color: rgb(43, 66, 199);
    border: none;
    color:rgb(226, 216, 216);
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
}

.btnSend:hover{
    background-color: rgb(84, 210, 226);
}



   
